lib/was-isadc/was/isadc/properties/SSEQTP/envvars.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="variables">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="source" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="source">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" ref="variable" />
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="variable">
		<xsd:complexType>
			<xsd:attribute name="key" type="xsd:string" />
			<xsd:attribute name="value" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
