systemApps/WebSphereWSDM.ear/WebSphereWSDM.war/WEB-INF/classes/wsdl/J2EEServlet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.ibm.com/xmlns/prod/websphere/management/j2ee/servlet" 
        xmlns:tns="http://www.ibm.com/xmlns/prod/websphere/management/j2ee/servlet" >

	<!-- Properties defined by base J2EEServlet capability -->
	
	<xsd:element name="ConcurrentRequests" type="xsd:integer"/>
	<xsd:element name="TotalRequests" type="xsd:integer"/>
	<xsd:element name="ResponseTime" type="xsd:duration"/>
	<xsd:element name="NumberOfErrors" type="xsd:integer"/>
			
</schema>
