properties/schemas/sibresources.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/websphere/appserver/schemas/6.0/sibresources.xmi" xmlns:channelservice="http://www.ibm.com/websphere/appserver/schemas/6.0/channelservice.xmi" xmlns:process="http://www.ibm.com/websphere/appserver/schemas/5.0/process.xmi" xmlns:properties="http://www.ibm.com/websphere/appserver/schemas/5.0/properties.xmi" xmlns:sibresources="http://www.ibm.com/websphere/appserver/schemas/6.0/sibresources.xmi" xmlns:xmi="http://www.omg.org/XMI">
  <xsd:import namespace="http://www.ibm.com/websphere/appserver/schemas/6.0/channelservice.xmi" schemaLocation="channelservice.xsd"/>
  <xsd:import namespace="http://www.ibm.com/websphere/appserver/schemas/5.0/process.xmi" schemaLocation="process.xsd"/>
  <xsd:import namespace="http://www.ibm.com/websphere/appserver/schemas/5.0/properties.xmi" schemaLocation="properties.xsd"/>
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="XMI.xsd"/>
  <xsd:simpleType name="SIBMQLinkNPMSpeedType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="FAST"/>
      <xsd:enumeration value="NORMAL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBPSBFlowDirection">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="BI_DIRECTIONAL"/>
      <xsd:enumeration value="TO_MQ"/>
      <xsd:enumeration value="FROM_MQ"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBMQLinkInitialState">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="STOPPED"/>
      <xsd:enumeration value="STARTED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBMQClientLinkInitialState">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="STOPPED"/>
      <xsd:enumeration value="STARTED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBMessagingEngineInitialState">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="STOPPED"/>
      <xsd:enumeration value="STARTED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBDestinationReliabilityType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="BEST_EFFORT_NONPERSISTENT"/>
      <xsd:enumeration value="EXPRESS_NONPERSISTENT"/>
      <xsd:enumeration value="RELIABLE_NONPERSISTENT"/>
      <xsd:enumeration value="RELIABLE_PERSISTENT"/>
      <xsd:enumeration value="ASSURED_PERSISTENT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBMediationInitialState">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="STARTED"/>
      <xsd:enumeration value="STOPPED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBContextSimpleType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="BOOLEAN"/>
      <xsd:enumeration value="BYTE"/>
      <xsd:enumeration value="CHARACTER"/>
      <xsd:enumeration value="DOUBLE"/>
      <xsd:enumeration value="FLOAT"/>
      <xsd:enumeration value="INTEGER"/>
      <xsd:enumeration value="LONG"/>
      <xsd:enumeration value="SHORT"/>
      <xsd:enumeration value="STRING"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBPSBBrokerMessageType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="PERSISTENT"/>
      <xsd:enumeration value="ALL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBPSBTopicMessageType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="INHERIT"/>
      <xsd:enumeration value="PERSISTENT"/>
      <xsd:enumeration value="ALL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBMQPersistentReliability">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="RELIABLE"/>
      <xsd:enumeration value="ASSURED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBMQNonPersistentReliability">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="BEST_EFFORT"/>
      <xsd:enumeration value="EXPRESS"/>
      <xsd:enumeration value="RELIABLE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBDestinationReliabilityInheritType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="INHERIT"/>
      <xsd:enumeration value="BEST_EFFORT_NONPERSISTENT"/>
      <xsd:enumeration value="EXPRESS_NONPERSISTENT"/>
      <xsd:enumeration value="RELIABLE_NONPERSISTENT"/>
      <xsd:enumeration value="RELIABLE_PERSISTENT"/>
      <xsd:enumeration value="ASSURED_PERSISTENT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBBooleanInheritType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="INHERIT"/>
      <xsd:enumeration value="TRUE"/>
      <xsd:enumeration value="FALSE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBGatewayLinkInitialState">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="STOPPED"/>
      <xsd:enumeration value="STARTED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBMQServerType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="MQ_QUEUE_MANAGER"/>
      <xsd:enumeration value="MQ_QUEUE_SHARING_GROUP"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBMessageStoreType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="FILESTORE"/>
      <xsd:enumeration value="DATASTORE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBPermittedChainUsage">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="ALL"/>
      <xsd:enumeration value="SSL_ENABLED"/>
      <xsd:enumeration value="LISTED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SSLType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="NONE"/>
      <xsd:enumeration value="CENTRAL"/>
      <xsd:enumeration value="SPECIFIC"/>
      <xsd:enumeration value="CHAIN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SIBBootstrapMemberPolicy">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="SIBSERVICE_ENABLED"/>
      <xsd:enumeration value="MEMBERS_AND_NOMINATED"/>
      <xsd:enumeration value="MEMBERS_ONLY"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SIBDatastore">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="dataSourceName" type="xsd:string"/>
    <xsd:attribute name="schemaName" type="xsd:string"/>
    <xsd:attribute name="createTables" type="xsd:boolean"/>
    <xsd:attribute name="authAlias" type="xsd:string"/>
    <xsd:attribute name="permanentTables" type="xsd:int"/>
    <xsd:attribute name="temporaryTables" type="xsd:int"/>
    <xsd:attribute name="restrictLongDBLock" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBDatastore" type="sibresources:SIBDatastore"/>
  <xsd:complexType name="SIBDestination">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBAbstractDestination">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="replyDestination" type="sibresources:SIBQualifiedDestinationName"/>
          <xsd:element name="localizationPointRefs" type="sibresources:SIBLocalizationPointRef"/>
          <xsd:element name="destinationMediationRef" type="sibresources:SIBDestinationMediationRef"/>
        </xsd:choice>
        <xsd:attribute name="reliability" type="sibresources:SIBDestinationReliabilityType"/>
        <xsd:attribute name="maxReliability" type="sibresources:SIBDestinationReliabilityType"/>
        <xsd:attribute name="overrideOfQOSByProducerAllowed" type="xsd:boolean"/>
        <xsd:attribute name="defaultPriority" type="xsd:int"/>
        <xsd:attribute name="maxFailedDeliveries" type="xsd:int"/>
        <xsd:attribute name="exceptionDestination" type="xsd:string"/>
        <xsd:attribute name="sendAllowed" type="xsd:boolean"/>
        <xsd:attribute name="receiveAllowed" type="xsd:boolean"/>
        <xsd:attribute name="maintainStrictMessageOrder" type="xsd:boolean"/>
        <xsd:attribute name="exceptionDiscardReliability" type="sibresources:SIBDestinationReliabilityType"/>
        <xsd:attribute name="persistRedeliveryCount" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBDestination" type="sibresources:SIBDestination"/>
  <xsd:complexType name="SIBQueue">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBDestination">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="defaultForwardRoutingPath" type="sibresources:SIBQualifiedDestinationName"/>
        </xsd:choice>
        <xsd:attribute name="receiveExclusive" type="xsd:boolean"/>
        <xsd:attribute name="blockedRetryTimeout" type="xsd:long"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBQueue" type="sibresources:SIBQueue"/>
  <xsd:complexType name="SIBTopicSpace">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBDestination">
        <xsd:attribute name="topicAccessCheckRequired" type="xsd:boolean"/>
        <xsd:attribute name="blockedRetryTimeout" type="xsd:long"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBTopicSpace" type="sibresources:SIBTopicSpace"/>
  <xsd:complexType name="SIBus">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="properties" type="properties:Property"/>
      <xsd:element name="busMembers" type="sibresources:SIBusMember"/>
      <xsd:element name="foreignBus" type="sibresources:SIBForeignBus"/>
      <xsd:element name="permittedChains" type="sibresources:SIBPermittedChain"/>
      <xsd:element name="nominatedBootstrapMembers" type="sibresources:SIBBootstrapMember"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="secure" type="xsd:boolean"/>
    <xsd:attribute name="usePermittedChains" type="sibresources:SIBPermittedChainUsage"/>
    <xsd:attribute name="mediationsAuthAlias" type="xsd:string"/>
    <xsd:attribute name="useServerIdForMediations" type="xsd:boolean"/>
    <xsd:attribute name="protocol" type="xsd:string"/>
    <xsd:attribute name="interEngineAuthAlias" type="xsd:string"/>
    <xsd:attribute name="discardMsgsAfterQueueDeletion" type="xsd:boolean"/>
    <xsd:attribute name="highMessageThreshold" type="xsd:long"/>
    <xsd:attribute name="configurationReloadEnabled" type="xsd:boolean"/>
    <xsd:attribute name="securityGroupCacheTimeout" type="xsd:long"/>
    <xsd:attribute name="bootstrapMemberPolicy" type="sibresources:SIBBootstrapMemberPolicy"/>
  </xsd:complexType>
  <xsd:element name="SIBus" type="sibresources:SIBus"/>
  <xsd:complexType name="SIBMessagingEngine">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="customGroup" nillable="true" type="xsd:string"/>
      <xsd:element name="dataStore" type="sibresources:SIBDatastore"/>
      <xsd:element name="properties" type="properties:Property"/>
      <xsd:element name="localizationPoints" type="sibresources:SIBLocalizationPoint"/>
      <xsd:element name="mqLink" type="sibresources:SIBMQLink"/>
      <xsd:element name="mqClientLink" type="sibresources:SIBMQClientLink"/>
      <xsd:element name="mediationThreadPool" type="process:ThreadPool"/>
      <xsd:element name="gatewayLink" type="sibresources:SIBGatewayLink"/>
      <xsd:element name="executionPoints" type="sibresources:SIBMediationExecutionPoint"/>
      <xsd:element name="fileStore" type="sibresources:SIBFilestore"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="initialState" type="sibresources:SIBMessagingEngineInitialState"/>
    <xsd:attribute name="busName" type="xsd:string"/>
    <xsd:attribute name="busUuid" type="xsd:string"/>
    <xsd:attribute name="highMessageThreshold" type="xsd:long"/>
    <xsd:attribute name="messageStoreType" type="sibresources:SIBMessageStoreType"/>
    <xsd:attribute name="recoverMessageStore" type="xsd:boolean"/>
    <xsd:attribute name="messageStoreRecovered" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBMessagingEngine" type="sibresources:SIBMessagingEngine"/>
  <xsd:complexType name="SIBLocalizationPointRef">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="node" type="xsd:string"/>
    <xsd:attribute name="server" type="xsd:string"/>
    <xsd:attribute name="cluster" type="xsd:string"/>
    <xsd:attribute name="mqServer" type="xsd:string"/>
    <xsd:attribute name="engineUuid" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBLocalizationPointRef" type="sibresources:SIBLocalizationPointRef"/>
  <xsd:complexType name="SIBLocalizationPoint">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="targetUuid" type="xsd:string"/>
    <xsd:attribute name="sendAllowed" type="xsd:boolean"/>
    <xsd:attribute name="highMessageThreshold" type="xsd:long"/>
  </xsd:complexType>
  <xsd:element name="SIBLocalizationPoint" type="sibresources:SIBLocalizationPoint"/>
  <xsd:complexType name="SIBMQLinkReceiverChannel">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="receiverChannelName" type="xsd:string"/>
    <xsd:attribute name="inboundNonPersistentReliability" type="sibresources:SIBMQNonPersistentReliability"/>
    <xsd:attribute name="inboundPersistentReliability" type="sibresources:SIBMQPersistentReliability"/>
    <xsd:attribute name="receiverChannelInitialState" type="sibresources:SIBMQLinkInitialState"/>
  </xsd:complexType>
  <xsd:element name="SIBMQLinkReceiverChannel" type="sibresources:SIBMQLinkReceiverChannel"/>
  <xsd:complexType name="SIBMQLinkSenderChannel">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="sendStream" type="sibresources:SIBMQLinkSenderChannelLocalizationPoint"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="senderChannelName" type="xsd:string"/>
    <xsd:attribute name="hostName" type="xsd:string"/>
    <xsd:attribute name="port" type="xsd:int"/>
    <xsd:attribute name="protocolName" type="xsd:string"/>
    <xsd:attribute name="discInterval" type="xsd:int"/>
    <xsd:attribute name="shortRetryCount" type="xsd:int"/>
    <xsd:attribute name="shortRetryInterval" type="xsd:int"/>
    <xsd:attribute name="longRetryCount" type="xsd:long"/>
    <xsd:attribute name="longRetryInterval" type="xsd:long"/>
    <xsd:attribute name="senderChannelInitialState" type="sibresources:SIBMQLinkInitialState"/>
    <xsd:attribute name="connameList" type="xsd:string"/>
    <xsd:attribute name="sendStream" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBMQLinkSenderChannel" type="sibresources:SIBMQLinkSenderChannel"/>
  <xsd:complexType name="SIBMQLink">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="senderChannel" type="sibresources:SIBMQLinkSenderChannel"/>
      <xsd:element name="receiverChannel" type="sibresources:SIBMQLinkReceiverChannel"/>
      <xsd:element name="brokerProfile" type="sibresources:SIBPSBBrokerProfile"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="targetUuid" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="qmName" type="xsd:string"/>
    <xsd:attribute name="batchSize" type="xsd:int"/>
    <xsd:attribute name="maxMsgSize" type="xsd:int"/>
    <xsd:attribute name="heartBeat" type="xsd:int"/>
    <xsd:attribute name="sequenceWrap" type="xsd:long"/>
    <xsd:attribute name="nonPersistentMessageSpeed" type="sibresources:SIBMQLinkNPMSpeedType"/>
    <xsd:attribute name="adoptable" type="xsd:boolean"/>
    <xsd:attribute name="initialState" type="sibresources:SIBMQLinkInitialState"/>
  </xsd:complexType>
  <xsd:element name="SIBMQLink" type="sibresources:SIBMQLink"/>
  <xsd:complexType name="SIBPSBBrokerProfile">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="topicMapping" type="sibresources:SIBPSBTopicMapping"/>
      <xsd:element name="transactionality" type="sibresources:SIBPSBBrokerTransactionality"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="brokerQueueManager" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBPSBBrokerProfile" type="sibresources:SIBPSBBrokerProfile"/>
  <xsd:complexType name="SIBPSBTopicMapping">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="transactionality" type="sibresources:SIBPSBTopicTransactionality"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="topicName" type="xsd:string"/>
    <xsd:attribute name="topicSpace" type="xsd:string"/>
    <xsd:attribute name="direction" type="sibresources:SIBPSBFlowDirection"/>
    <xsd:attribute name="brokerStreamQueue" type="xsd:string"/>
    <xsd:attribute name="subscriptionPoint" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBPSBTopicMapping" type="sibresources:SIBPSBTopicMapping"/>
  <xsd:complexType name="SIBMQClientLink">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="advancedProperties" type="sibresources:SIBMQClientLinkAdvancedProperties"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="channelName" type="xsd:string"/>
    <xsd:attribute name="qmName" type="xsd:string"/>
    <xsd:attribute name="defaultQM" type="xsd:boolean"/>
    <xsd:attribute name="maxMsgSize" type="xsd:long"/>
    <xsd:attribute name="heartBeat" type="xsd:int"/>
    <xsd:attribute name="initialState" type="sibresources:SIBMQClientLinkInitialState"/>
    <xsd:attribute name="migratedDefinition" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBMQClientLink" type="sibresources:SIBMQClientLink"/>
  <xsd:complexType name="SIBusMember">
    <xsd:annotation>
      <xsd:documentation>A bus has a number of bus members. Each bus member is a server or a cluster. A server will have one messaging engine on the bus, while a cluster will have one or more messaging engine on a bus.

Buses and bus members are held in a separate document to messaging engines - buses and bus members are held in a file called sib-bus.xml at bus scope while messaging engines are held in files called sib-engine.xml at server and/or cluster scope as appropriate.

To avoid cross-document links, a bus member simply indicates the scope (server or cluster) at wich the bus member's engines can be found.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="target" type="sibresources:SIBusMemberTarget"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="server" type="xsd:string"/>
    <xsd:attribute name="node" type="xsd:string"/>
    <xsd:attribute name="cluster" type="xsd:string"/>
    <xsd:attribute name="mqServer" type="xsd:string"/>
    <xsd:attribute name="assistanceEnabled" type="xsd:boolean"/>
    <xsd:attribute name="policyName" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBusMember" type="sibresources:SIBusMember">
    <xsd:annotation>
      <xsd:documentation>A bus has a number of bus members. Each bus member is a server or a cluster. A server will have one messaging engine on the bus, while a cluster will have one or more messaging engine on a bus.

Buses and bus members are held in a separate document to messaging engines - buses and bus members are held in a file called sib-bus.xml at bus scope while messaging engines are held in files called sib-engine.xml at server and/or cluster scope as appropriate.

To avoid cross-document links, a bus member simply indicates the scope (server or cluster) at wich the bus member's engines can be found.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SIBDestinationMediationRef">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="localizationPointRefs" type="sibresources:SIBLocalizationPointRef"/>
      <xsd:element name="executionPointRefs" type="sibresources:SIBLocalizationPointRef"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="mediationUuid" type="xsd:string"/>
    <xsd:attribute name="enabled" type="xsd:boolean"/>
    <xsd:attribute name="externallyMediated" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBDestinationMediationRef" type="sibresources:SIBDestinationMediationRef"/>
  <xsd:complexType abstract="true" name="SIBMediation">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="contextInfo" type="sibresources:SIBContextInfo"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="mediationName" type="xsd:string"/>
    <xsd:attribute name="handlerListName" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBMediation" type="sibresources:SIBMediation"/>
  <xsd:complexType name="SIBQueueLocalizationPoint">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBLocalizationPoint"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBQueueLocalizationPoint" type="sibresources:SIBQueueLocalizationPoint"/>
  <xsd:complexType name="SIBTopicSpaceLocalizationPoint">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBLocalizationPoint"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBTopicSpaceLocalizationPoint" type="sibresources:SIBTopicSpaceLocalizationPoint"/>
  <xsd:complexType name="SIBMediationLocalizationPoint">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBLocalizationPoint">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="mediationInstance" type="sibresources:SIBMediationInstance"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBMediationLocalizationPoint" type="sibresources:SIBMediationLocalizationPoint"/>
  <xsd:complexType name="SIBMQLinkSenderChannelLocalizationPoint">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBLocalizationPoint"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBMQLinkSenderChannelLocalizationPoint" type="sibresources:SIBMQLinkSenderChannelLocalizationPoint"/>
  <xsd:complexType name="SIBContextInfo">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="type" type="sibresources:SIBContextSimpleType"/>
    <xsd:attribute name="value" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBContextInfo" type="sibresources:SIBContextInfo"/>
  <xsd:complexType name="SIBDestinationMediation">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBMediation">
        <xsd:attribute name="globalTransaction" type="xsd:boolean"/>
        <xsd:attribute name="allowConcurrentMediation" type="xsd:boolean"/>
        <xsd:attribute name="selector" type="xsd:string"/>
        <xsd:attribute name="discriminator" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBDestinationMediation" type="sibresources:SIBDestinationMediation"/>
  <xsd:complexType name="SIBMQClientLinkAdvancedProperties">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="inboundPersistentReliability" type="sibresources:SIBMQPersistentReliability"/>
    <xsd:attribute name="inboundNonPersistentReliability" type="sibresources:SIBMQNonPersistentReliability"/>
    <xsd:attribute name="brokerConQ" type="xsd:string"/>
    <xsd:attribute name="brokerPubQ" type="xsd:string"/>
    <xsd:attribute name="brokerSubQ" type="xsd:string"/>
    <xsd:attribute name="brokerDurSubQ" type="xsd:string"/>
    <xsd:attribute name="brokerCCSubQ" type="xsd:string"/>
    <xsd:attribute name="brokerCCDurSubQ" type="xsd:string"/>
    <xsd:attribute name="defaultTopicSpace" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBMQClientLinkAdvancedProperties" type="sibresources:SIBMQClientLinkAdvancedProperties"/>
  <xsd:complexType name="SIBPSBBrokerTransactionality">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="messageType" type="sibresources:SIBPSBBrokerMessageType"/>
    <xsd:attribute name="batchSize" type="xsd:int"/>
  </xsd:complexType>
  <xsd:element name="SIBPSBBrokerTransactionality" type="sibresources:SIBPSBBrokerTransactionality"/>
  <xsd:complexType name="SIBPSBTopicTransactionality">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="messageType" type="sibresources:SIBPSBTopicMessageType"/>
    <xsd:attribute name="batchSize" type="xsd:int"/>
  </xsd:complexType>
  <xsd:element name="SIBPSBTopicTransactionality" type="sibresources:SIBPSBTopicTransactionality"/>
  <xsd:complexType name="SIBusMemberTarget">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="engineUuid" type="xsd:string"/>
    <xsd:attribute name="engineName" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBusMemberTarget" type="sibresources:SIBusMemberTarget"/>
  <xsd:complexType name="SIBDestinationDefault">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="contextInfo" type="sibresources:SIBContextInfo"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="defaultPriority" type="xsd:int"/>
    <xsd:attribute name="reliability" type="sibresources:SIBDestinationReliabilityType"/>
    <xsd:attribute name="maxReliability" type="sibresources:SIBDestinationReliabilityType"/>
    <xsd:attribute name="sendAllowed" type="xsd:boolean"/>
    <xsd:attribute name="overrideOfQOSByProducerAllowed" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBDestinationDefault" type="sibresources:SIBDestinationDefault"/>
  <xsd:complexType name="SIBForeignBus">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="destinationDefault" type="sibresources:SIBDestinationDefault"/>
      <xsd:element name="virtualLink" type="sibresources:SIBVirtualLink"/>
      <xsd:element name="nextHop" type="sibresources:SIBForeignBus"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="sendAllowed" type="xsd:boolean"/>
    <xsd:attribute name="nextHop" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBForeignBus" type="sibresources:SIBForeignBus"/>
  <xsd:complexType abstract="true" name="SIBVirtualLink">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="linkRef" type="sibresources:SIBLinkRef"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="inboundUserid" type="xsd:string"/>
    <xsd:attribute name="outboundUserid" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBVirtualLink" type="sibresources:SIBVirtualLink"/>
  <xsd:complexType name="SIBVirtualGatewayLink">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBVirtualLink">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="topicSpaceMapping" type="sibresources:SIBTopicSpaceMapping"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBVirtualGatewayLink" type="sibresources:SIBVirtualGatewayLink"/>
  <xsd:complexType name="SIBVirtualMQLink">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBVirtualLink"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBVirtualMQLink" type="sibresources:SIBVirtualMQLink"/>
  <xsd:complexType name="SIBLinkRef">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="engine" type="sibresources:SIBusMemberTarget"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="exceptionDestination" type="xsd:string"/>
    <xsd:attribute name="preferLocalQueuePoints" type="xsd:boolean"/>
    <xsd:attribute name="exceptionDiscardReliability" type="sibresources:SIBDestinationReliabilityType"/>
    <xsd:attribute name="engine" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBLinkRef" type="sibresources:SIBLinkRef"/>
  <xsd:complexType name="SIBTopicSpaceMapping">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="topicSpaceMapEntry" type="sibresources:SIBTopicSpaceMapEntry"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="description" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBTopicSpaceMapping" type="sibresources:SIBTopicSpaceMapping"/>
  <xsd:complexType name="SIBTopicSpaceMapEntry">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="localTopicSpace" type="xsd:string"/>
    <xsd:attribute name="remoteTopicSpace" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBTopicSpaceMapEntry" type="sibresources:SIBTopicSpaceMapEntry"/>
  <xsd:complexType name="SIBGatewayLink">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="targetUuid" type="xsd:string"/>
    <xsd:attribute name="remoteMessagingEngineName" type="xsd:string"/>
    <xsd:attribute name="protocolName" type="xsd:string"/>
    <xsd:attribute name="bootstrapEndpoints" type="xsd:string"/>
    <xsd:attribute name="authAlias" type="xsd:string"/>
    <xsd:attribute name="initialState" type="sibresources:SIBGatewayLinkInitialState"/>
  </xsd:complexType>
  <xsd:element name="SIBGatewayLink" type="sibresources:SIBGatewayLink"/>
  <xsd:complexType name="SIBAbstractDestination">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="contextInfo" type="sibresources:SIBContextInfo"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="description" type="xsd:string"/>
    <xsd:attribute name="instanceType" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAbstractDestination" type="sibresources:SIBAbstractDestination"/>
  <xsd:complexType name="SIBDestinationAlias">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBAbstractDestination">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="targetQueuePointIdentifiers" nillable="true" type="xsd:string"/>
          <xsd:element name="targetMediationPointIdentifiers" nillable="true" type="xsd:string"/>
          <xsd:element name="replyDestination" type="sibresources:SIBQualifiedDestinationName"/>
          <xsd:element name="defaultForwardRoutingPath" type="sibresources:SIBQualifiedDestinationName"/>
        </xsd:choice>
        <xsd:attribute name="bus" type="xsd:string"/>
        <xsd:attribute name="targetBus" type="xsd:string"/>
        <xsd:attribute name="targetIdentifier" type="xsd:string"/>
        <xsd:attribute name="defaultPriority" type="xsd:int"/>
        <xsd:attribute name="reliability" type="sibresources:SIBDestinationReliabilityInheritType"/>
        <xsd:attribute name="maxReliability" type="sibresources:SIBDestinationReliabilityInheritType"/>
        <xsd:attribute name="overrideOfQOSByProducerAllowed" type="sibresources:SIBBooleanInheritType"/>
        <xsd:attribute name="sendAllowed" type="sibresources:SIBBooleanInheritType"/>
        <xsd:attribute name="receiveAllowed" type="sibresources:SIBBooleanInheritType"/>
        <xsd:attribute name="delegateAuthorizationCheckToTarget" type="xsd:boolean"/>
        <xsd:attribute name="allTargetQueuePointsSelected" type="xsd:boolean"/>
        <xsd:attribute name="allTargetMediationPointsSelected" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBDestinationAlias" type="sibresources:SIBDestinationAlias"/>
  <xsd:complexType name="SIBDestinationForeign">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBAbstractDestination">
        <xsd:attribute name="bus" type="xsd:string"/>
        <xsd:attribute name="reliability" type="sibresources:SIBDestinationReliabilityType"/>
        <xsd:attribute name="maxReliability" type="sibresources:SIBDestinationReliabilityType"/>
        <xsd:attribute name="overrideOfQOSByProducerAllowed" type="xsd:boolean"/>
        <xsd:attribute name="defaultPriority" type="xsd:int"/>
        <xsd:attribute name="sendAllowed" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBDestinationForeign" type="sibresources:SIBDestinationForeign"/>
  <xsd:complexType name="SIBAuthAlias">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="sender" type="sibresources:SIBAuthSender"/>
      <xsd:element name="receiver" type="sibresources:SIBAuthReceiver"/>
      <xsd:element name="browser" type="sibresources:SIBAuthBrowser"/>
      <xsd:element name="identityAdopter" type="sibresources:SIBAuthIdentityAdopter"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="busName" type="xsd:string"/>
    <xsd:attribute name="inheritDefaults" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthAlias" type="sibresources:SIBAuthAlias"/>
  <xsd:complexType name="SIBAuthBrowser">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="group" type="sibresources:SIBAuthGroup"/>
      <xsd:element name="user" type="sibresources:SIBAuthUser"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="group" type="xsd:string"/>
    <xsd:attribute name="user" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthBrowser" type="sibresources:SIBAuthBrowser"/>
  <xsd:complexType name="SIBAuthBusConnect">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="user" type="sibresources:SIBAuthUser"/>
      <xsd:element name="group" type="sibresources:SIBAuthGroup"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="user" type="xsd:string"/>
    <xsd:attribute name="group" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthBusConnect" type="sibresources:SIBAuthBusConnect"/>
  <xsd:complexType name="SIBAuthCreator">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="group" type="sibresources:SIBAuthGroup"/>
      <xsd:element name="user" type="sibresources:SIBAuthUser"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="group" type="xsd:string"/>
    <xsd:attribute name="user" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthCreator" type="sibresources:SIBAuthCreator"/>
  <xsd:complexType name="SIBAuthDefault">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="receiver" type="sibresources:SIBAuthReceiver"/>
      <xsd:element name="sender" type="sibresources:SIBAuthSender"/>
      <xsd:element name="browser" type="sibresources:SIBAuthBrowser"/>
      <xsd:element name="creator" type="sibresources:SIBAuthCreator"/>
      <xsd:element name="identityAdopter" type="sibresources:SIBAuthIdentityAdopter"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthDefault" type="sibresources:SIBAuthDefault"/>
  <xsd:complexType name="SIBAuthForeignBus">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="sender" type="sibresources:SIBAuthSender"/>
      <xsd:element name="identityAdopter" type="sibresources:SIBAuthIdentityAdopter"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="busName" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthForeignBus" type="sibresources:SIBAuthForeignBus"/>
  <xsd:complexType name="SIBAuthGroup">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="uniqueName" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthGroup" type="sibresources:SIBAuthGroup"/>
  <xsd:complexType name="SIBAuthQueue">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="creator" type="sibresources:SIBAuthCreator"/>
      <xsd:element name="browser" type="sibresources:SIBAuthBrowser"/>
      <xsd:element name="receiver" type="sibresources:SIBAuthReceiver"/>
      <xsd:element name="sender" type="sibresources:SIBAuthSender"/>
      <xsd:element name="identityAdopter" type="sibresources:SIBAuthIdentityAdopter"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="inheritDefaults" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthQueue" type="sibresources:SIBAuthQueue"/>
  <xsd:complexType name="SIBAuthReceiver">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="group" type="sibresources:SIBAuthGroup"/>
      <xsd:element name="user" type="sibresources:SIBAuthUser"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="group" type="xsd:string"/>
    <xsd:attribute name="user" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthReceiver" type="sibresources:SIBAuthReceiver"/>
  <xsd:complexType name="SIBAuthSender">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="group" type="sibresources:SIBAuthGroup"/>
      <xsd:element name="user" type="sibresources:SIBAuthUser"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="group" type="xsd:string"/>
    <xsd:attribute name="user" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthSender" type="sibresources:SIBAuthSender"/>
  <xsd:complexType name="SIBAuthSpace">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="topicSpace" type="sibresources:SIBAuthTopicSpace"/>
      <xsd:element name="user" type="sibresources:SIBAuthUser"/>
      <xsd:element name="group" type="sibresources:SIBAuthGroup"/>
      <xsd:element name="busConnect" type="sibresources:SIBAuthBusConnect"/>
      <xsd:element name="foreignBus" type="sibresources:SIBAuthForeignBus"/>
      <xsd:element name="alias" type="sibresources:SIBAuthAlias"/>
      <xsd:element name="default" type="sibresources:SIBAuthDefault"/>
      <xsd:element name="queue" type="sibresources:SIBAuthQueue"/>
      <xsd:element name="foreignDestination" type="sibresources:SIBAuthForeignDestination"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthSpace" type="sibresources:SIBAuthSpace"/>
  <xsd:complexType name="SIBAuthTopic">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="receiver" type="sibresources:SIBAuthReceiver"/>
      <xsd:element name="sender" type="sibresources:SIBAuthSender"/>
      <xsd:element name="identityAdopter" type="sibresources:SIBAuthIdentityAdopter"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="inheritSender" type="xsd:boolean"/>
    <xsd:attribute name="inheritReceiver" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthTopic" type="sibresources:SIBAuthTopic"/>
  <xsd:complexType name="SIBAuthTopicSpace">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="topic" type="sibresources:SIBAuthTopic"/>
      <xsd:element name="topicSpaceRoot" type="sibresources:SIBAuthTopicSpaceRoot"/>
      <xsd:element name="topicSpaceBase" type="sibresources:SIBAuthTopicSpaceBase"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="inheritDefaults" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthTopicSpace" type="sibresources:SIBAuthTopicSpace"/>
  <xsd:complexType name="SIBAuthTopicSpaceBase">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="receiver" type="sibresources:SIBAuthReceiver"/>
      <xsd:element name="sender" type="sibresources:SIBAuthSender"/>
      <xsd:element name="identityAdopter" type="sibresources:SIBAuthIdentityAdopter"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthTopicSpaceBase" type="sibresources:SIBAuthTopicSpaceBase"/>
  <xsd:complexType name="SIBAuthTopicSpaceRoot">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="receiver" type="sibresources:SIBAuthReceiver"/>
      <xsd:element name="sender" type="sibresources:SIBAuthSender"/>
      <xsd:element name="identityAdopter" type="sibresources:SIBAuthIdentityAdopter"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthTopicSpaceRoot" type="sibresources:SIBAuthTopicSpaceRoot"/>
  <xsd:complexType name="SIBAuthUser">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="uniqueName" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthUser" type="sibresources:SIBAuthUser"/>
  <xsd:complexType name="SIBMediationInstance">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="mediationRefUuid" type="xsd:string"/>
    <xsd:attribute name="initialState" type="sibresources:SIBMediationInitialState"/>
  </xsd:complexType>
  <xsd:element name="SIBMediationInstance" type="sibresources:SIBMediationInstance"/>
  <xsd:complexType name="SIBAuthForeignDestination">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="sender" type="sibresources:SIBAuthSender"/>
      <xsd:element name="identityAdopter" type="sibresources:SIBAuthIdentityAdopter"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="busName" type="xsd:string"/>
    <xsd:attribute name="destinationName" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthForeignDestination" type="sibresources:SIBAuthForeignDestination"/>
  <xsd:complexType name="SIBQualifiedDestinationName">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="bus" type="xsd:string"/>
    <xsd:attribute name="destination" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBQualifiedDestinationName" type="sibresources:SIBQualifiedDestinationName"/>
  <xsd:complexType name="SIBWebService">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBQueue"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBWebService" type="sibresources:SIBWebService"/>
  <xsd:complexType name="SIBPort">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBQueue"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBPort" type="sibresources:SIBPort"/>
  <xsd:complexType name="SIBAuthWebService">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBAuthQueue"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBAuthWebService" type="sibresources:SIBAuthWebService"/>
  <xsd:complexType name="SIBAuthPort">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBAuthQueue"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBAuthPort" type="sibresources:SIBAuthPort"/>
  <xsd:complexType name="SIBAuthIdentityAdopter">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="user" type="sibresources:SIBAuthUser"/>
      <xsd:element name="group" type="sibresources:SIBAuthGroup"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="user" type="xsd:string"/>
    <xsd:attribute name="group" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBAuthIdentityAdopter" type="sibresources:SIBAuthIdentityAdopter"/>
  <xsd:complexType name="SIBMQServer">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="svrconnChannels" type="sibresources:SIBWMQServerSvrconnChannel"/>
      <xsd:element name="endpoints" type="sibresources:SIBWMQServerEndpoint"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="name" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The name of the WebSphere MQ server.  This is for administrative purposes.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serverName" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The name of the WebSphere MQ Queue Manager, or Queue Sharing Group.  This is the WebSphere MQ name by which the queue manager or queue sharing group is identified.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="sibresources:SIBMQServerType">
      <xsd:annotation>
        <xsd:documentation>Determines the type of the server.  When this is set to "Queue Manager" resource discovery will retrieve queue names specific to the queue manager.  When this is set to "Queue Sharing Group" resource discovery will retrieve queue names that belong to the group.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="description" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The description of the WebSphere MQ sever.  This is for administrative purposes.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="enableBindingsTransportMode" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>When the application server and queue manager are co-located, one can use a fast path connection mechanism.  When this option is selected, bindings transport mode connections will be used in preference to network connections, where available.  Note that it is only possible to connect to a single queue manager in bindings mode even if more than one is co-located.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="host" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The hostname of the machine hosting the WebSphere MQ Queue Manager that this WebSphere MQ server represents.  This may be a symbolic hostname, a numeric IPv4 or a numeric IPv6 address.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="port" type="xsd:int">
      <xsd:annotation>
        <xsd:documentation>The port number that the WebSphere MQ Queue Manager, that this WebSphere MQ server represents, is listening on.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="transportChainName" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The channel framework outbound transport chain used for establishing a connection to WebSphere MQ.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="channel" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The WebSphere MQ Client Channel name to use when connecting to the WebSphere MQ Queue Manager that this WebSphere MQ server represents.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="messagingAuthAlias" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The authentication alias to use when establishing a messaging connection to the WebSphere MQ Queue Manager.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="trustMessageUserIdentifiers" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Determines whether user identifiers received as part of WebSphere MQ message data should be used in the Platform Messaging bus.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="enableAutoResourceDiscovery" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Determines if automatic discovery of WebSphere MQ Queue names should be performed.  This feature is intended to assist the administrator.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="discoveryAuthAlias" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The authentication alias to use when establishing a resource discovery connection to the WebSphere MQ Queue Manager.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="discoveryReplyToQueue" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The reply-to queue used for resource discovery.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="SIBMQServer" type="sibresources:SIBMQServer"/>
  <xsd:complexType name="SIBMQServerBusMember">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="localizationPoints" type="sibresources:SIBMQLocalizationPointProxy"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="mqServerUuid" type="xsd:string"/>
    <xsd:attribute name="overrideDefaultConnectionSettings" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Indicates whether or not the connection values defined here (host, port, transportChainName, channel, messagingAuthAlias and trustMessageUserIdentifiers) override the values defined in the WebSphere MQ server..</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="host" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Value to override the host specified in the WebSphere MQ server.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="port" type="xsd:int">
      <xsd:annotation>
        <xsd:documentation>Value to override the port specified in the WebSphere MQ server.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="transportChainName" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Value to override the transportChainName specified in the WebSphere MQ server.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="channel" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Value to override the channel specified in the WebSphere MQ server.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="messagingAuthAlias" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Value to override the messagingAuthAlias specified in the WebSphere MQ server.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="trustMessageUserIdentifiers" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Value to override the trustMessageUserIdentifiers specified in the WebSphere MQ server.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="virtualQueueManagerName" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBMQServerBusMember" type="sibresources:SIBMQServerBusMember"/>
  <xsd:complexType abstract="true" name="SIBMQLocalizationPointProxy">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="targetUuid" type="xsd:string"/>
    <xsd:attribute name="mqQueueName" type="xsd:string"/>
    <xsd:attribute name="inboundPersistentReliability" type="sibresources:SIBDestinationReliabilityType"/>
    <xsd:attribute name="inboundNonPersistentReliability" type="sibresources:SIBDestinationReliabilityType"/>
    <xsd:attribute name="enableRFH2Header" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBMQLocalizationPointProxy" type="sibresources:SIBMQLocalizationPointProxy"/>
  <xsd:complexType name="SIBMQQueueLocalizationPointProxy">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBMQLocalizationPointProxy"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBMQQueueLocalizationPointProxy" type="sibresources:SIBMQQueueLocalizationPointProxy"/>
  <xsd:complexType name="SIBMQMediationPointProxy">
    <xsd:complexContent>
      <xsd:extension base="sibresources:SIBMQLocalizationPointProxy"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SIBMQMediationPointProxy" type="sibresources:SIBMQMediationPointProxy"/>
  <xsd:complexType name="SIBMediationExecutionPoint">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="mediationInstance" type="sibresources:SIBMediationInstance"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="targetUuid" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBMediationExecutionPoint" type="sibresources:SIBMediationExecutionPoint"/>
  <xsd:complexType name="SIBFilestore">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="uuid" type="xsd:string"/>
    <xsd:attribute name="logSize" type="xsd:long"/>
    <xsd:attribute name="minPermanentStoreSize" type="xsd:long"/>
    <xsd:attribute name="maxPermanentStoreSize" type="xsd:long"/>
    <xsd:attribute name="unlimitedPermanentStoreSize" type="xsd:boolean"/>
    <xsd:attribute name="minTemporaryStoreSize" type="xsd:long"/>
    <xsd:attribute name="maxTemporaryStoreSize" type="xsd:long"/>
    <xsd:attribute name="unlimitedTemporaryStoreSize" type="xsd:boolean"/>
    <xsd:attribute name="logDirectory" type="xsd:string"/>
    <xsd:attribute name="permanentStoreDirectory" type="xsd:string"/>
    <xsd:attribute name="temporaryStoreDirectory" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBFilestore" type="sibresources:SIBFilestore"/>
  <xsd:complexType name="RMQOutboundChannel">
    <xsd:complexContent>
      <xsd:extension base="channelservice:OutboundTransportChannel"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="RMQOutboundChannel" type="sibresources:RMQOutboundChannel"/>
  <xsd:complexType name="RMQChannelFactory">
    <xsd:complexContent>
      <xsd:extension base="channelservice:TransportChannelFactory"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="RMQChannelFactory" type="sibresources:RMQChannelFactory"/>
  <xsd:complexType name="SIBPermittedChain">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBPermittedChain" type="sibresources:SIBPermittedChain"/>
  <xsd:complexType name="SIBWMQServerEndpoint">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="host" type="xsd:string"/>
    <xsd:attribute name="port" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBWMQServerEndpoint" type="sibresources:SIBWMQServerEndpoint"/>
  <xsd:complexType name="SIBWMQServerSvrconnChannel">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="sslType" type="sibresources:SSLType"/>
    <xsd:attribute name="sslEndpoint" type="xsd:string"/>
    <xsd:attribute name="sslChain" type="xsd:string"/>
    <xsd:attribute name="sslCRL" type="xsd:string"/>
    <xsd:attribute name="sslReset" type="xsd:int"/>
    <xsd:attribute name="sslPeer" type="xsd:string"/>
    <xsd:attribute name="sendExit" type="xsd:string"/>
    <xsd:attribute name="sendExitInit" type="xsd:string"/>
    <xsd:attribute name="receiveExit" type="xsd:string"/>
    <xsd:attribute name="receiveExitInit" type="xsd:string"/>
    <xsd:attribute name="securityExit" type="xsd:string"/>
    <xsd:attribute name="securityExitInit" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBWMQServerSvrconnChannel" type="sibresources:SIBWMQServerSvrconnChannel"/>
  <xsd:complexType name="SIBBootstrapMember">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="server" type="xsd:string"/>
    <xsd:attribute name="node" type="xsd:string"/>
    <xsd:attribute name="cluster" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SIBBootstrapMember" type="sibresources:SIBBootstrapMember"/>
  <xsd:complexType name="SIBTopicSpaceAudit">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="identifier" type="xsd:string"/>
    <xsd:attribute name="allowAudit" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBTopicSpaceAudit" type="sibresources:SIBTopicSpaceAudit"/>
  <xsd:complexType name="SIBAudit">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="topicSpaceAudit" type="sibresources:SIBTopicSpaceAudit"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="allowAudit" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="SIBAudit" type="sibresources:SIBAudit"/>
</xsd:schema>